body {
    padding: 4px;
    min-width: 350px;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: lightgrey;
    transition: background-color 50ms ease-in-out;
    border-radius: 4px;
}

input[type="text"]{
    min-width: 40%;
    margin-right: 4px;
}

hr { width: 100%; opacity: 0.1; }

.disabled-option {
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;
    pointer-events: none;
}

input[type="number"]{
    max-width: 65px;
}

h3, h5{
    margin: 12px 0;
}

details div.option {
    margin-left: 8px;
    border-left: 1px solid lightgray;
}

h5 {
    opacity: 0.5;
}

.hint {
    border-radius: 50%;
    line-height: 1;
    vertical-align: middle;
    height: 12px;
    width: 12px;
    min-width: 12px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    border: 1px solid gray;
    color: gray;
}
.hint:hover{
    background: rgba(0,0,0,0.4);
    color:white;
}

#extensionVersion {
    display:inline;
    margin-left:4px;
    font-size:smaller;
    color:grey;
}
#extensionVersion a {
    text-decoration: none; 
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(40,41,44);
        color: white;
    }

    .option:hover {
      background-color: rgb(256, 256, 256, 0.1);
    }

    #extensionVersion a{
        color: lightblue;
    }
 }