$padding: 4px;
$max-width: 300px;
$background: white;
$dark-background: rgb(43, 42, 51);
$border-color: lightgray;
$dark-border-color: gray;
$border-radius: 4px;

.link-tooltip {
    position: fixed !important;
    background-color: $background  !important;
    color: black !important;
    z-index: 999999999999 !important;
    outline: 1px solid $border-color;
    max-width: $max-width  !important;
    border-radius: $border-radius  !important;
    pointer-events: none !important;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2) !important;
}

.dark-tooltip {
    background-color: $dark-background  !important;
    color: white !important;
    border: 1px solid $dark-border-color;

    .tooltip-arrow::after {
        background-color: $dark-background  !important;
        border-bottom: 0.25px solid $dark-border-color;
        border-right: 0.25px solid $dark-border-color;
    }

    .top-thumbnail {
        border-bottom: 1px solid gray !important;
    }

    .bottom-thumbnail {
        border-top: 1px solid gray !important;
    }

    .domain {
        color: #54a2dd !important;
    }

    .sub-url {
        color: white !important;
    }
}

.initial-tooltip {
    transform: translate(-50%, -70%);
}

.initial-tooltip-bottom {
    transform: translate(-50%, -25%);
}

.revealed-tooltip {
    transform: translate(-50%, -100%);
}

.revealed-tooltip-bottom {
    transform: translate(-50%, 0%);
}


.link-tooltip {
    .tooltip-header {
        // all: revert;
        vertical-align: middle;
        padding: $padding  !important;
        margin: 0px !important;
        line-height: normal !important;
    }

    .url {
        // all: revert;
        display: inline;
        margin: 4px 0px !important;
        margin-top: 0px !important;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        max-width: 90% !important;
        // white-space: unset !important;
        float: left;
        clear: none !important;
        font-size: 13px !important;
        line-height: normal !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .url {
        .domain {
            // all: revert;
            color: #2889d4;
        }

        .sub-url {
            color: black;
            opacity: 0.5 !important;
        }
        
    }

    .title {
        all: revert;
        font-size: 18px !important;
        margin: 3px 0px 4px !important;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        line-height: normal !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .page-favicon {
        height: 16px;
        width: 16px;
        display: inline;
        margin-right: 4px !important;
        float: left;
        margin-top: -1px !important;
        margin-bottom: 4px !important;
    }

    .description {
        // all: revert;
        opacity: 0.5 !important;
        font-size: 12px !important;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        // margin: 3px 0px 0px !important;
        margin: 0px 0px 7px !important;
        line-height: normal !important;
        font-family: Arial, Helvetica, sans-serif !important;
        width: 100% !important;
        margin-top: 25px !important;
    }

    .thumbnail {
        all: revert;
        width: 100% !important;
        // object-fit: cover !important;
        object-fit: contain !important;
        max-width: $max-width  !important;
        max-height: 150px !important;
        min-height: 140px !important;
        overflow: hidden !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    .stretched-thumbnail {
        object-fit: cover !important;
    }

    .top-thumbnail {
        border-bottom: 1px solid $border-color;
        border-top-left-radius: $border-radius  !important;
        border-top-right-radius: $border-radius  !important;
    }

    .bottom-thumbnail {
        border-top: 1px solid $border-color;
        vertical-align: bottom !important;
        border-bottom-left-radius: $border-radius  !important;
        border-bottom-right-radius: $border-radius  !important;
        margin-top: 3px !important;
    }

    img {
        filter: none !important;
    }
}

/// Use line-clamp with this class to set max lines
.limited-lines-text {
    overflow: hidden;
    white-space: unset;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
}

.loading-cursor {
    cursor: progress !important;
}

.link-tooltip-processing {
    background-color: #2889d422 !important;
}

/// Tooltip arrow
.tooltip-arrow {
    all: revert;
    z-index: 9999999999999 !important;
    height: 15px !important;
    width: 25px !important;
    overflow: hidden;
    position: absolute;
    background: none !important;
    box-shadow: none !important;
    left: 50% !important;
    top: 100%;
    transform: translate(-12.5px, -1px); 
}

.arrow-on-top {
    top: 100%;
    transform: translate(-12.5px, -1px);
}

.arrow-on-bottom {
    top: unset;
    bottom: 100%;
    transform: rotate(180deg) translate(12.5px, -1px);
}

.tooltip-arrow::after {
    content: "";
    position: absolute;
    z-index: 99999999999999 !important;
    left: 25% !important;
    bottom: 50% !important;
    width: 15px !important;
    height: 15px !important;
    transform: rotate(45deg);
    border-bottom: 0.25px solid $border-color;
    border-right: 0.25px solid $border-color;
    background: $background  !important;
}