.link-tooltip {
    position: fixed !important;
    background-color: white !important;
    color: black !important;
    z-index: 999999999999 !important;
    outline: 1px solid lightgray;
    min-width: 300px !important;
    max-width: 300px !important;
    border-radius: 4px !important;
    pointer-events: none !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
    padding: 4px !important;
    opacity: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    transition: transform var(--linkover-transition-duration) ease, opacity var(--linkover-transition-duration) ease;
}

.link-tooltip.opaque{
    opacity: 1 !important;
}

.link-tooltip.initial-tooltip {
    transform: translate(-50%, -70%) !important;
    /* transform: translate(-50%, -25%) scale(0) !important; */
}

.link-tooltip.revealed-tooltip {
    transform: translate(-50%, -100%) !important;
    /* transform: translate(-50%, -100%) scale(1) !important; */
}

.link-tooltip.initial-tooltip-bottom {
    transform: translate(-50%, -25%) !important;
    /* transform: translate(-50%, -75%) scale(0) !important; */
}

.link-tooltip.revealed-tooltip-bottom {
    transform: translate(-50%, 0%) !important;
    /* transform: translate(-50%, 0%) scale(1) !important; */
}

.link-tooltip .tooltip-header {
    padding: 4px !important;
    margin: 0px !important;
    line-height: normal !important;
    overflow: auto !important;
}

/* Title */
.link-tooltip .title {
    all: revert;
    font-size: 18px !important;
    margin: 0px 0px 6px !important;
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
    line-height: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

/* URL line */
.link-tooltip .page-favicon {
    all: revert;
    height: 14px !important;
    width: 14px !important;
    display: inline !important;
    margin-right: 4px !important;
    float: left !important;
}

.link-tooltip .url {
    all: revert;
    display: block !important;
    margin: 6px 0 2px !important;
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
    font-size: 13px !important;
    line-height: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.link-tooltip .url.description-below-url {
    margin: 0 0 6px !important;
}

.link-tooltip .url .domain {
    color: #2889d4;
}

.link-tooltip .url .sub-url {
    color: black;
    opacity: 0.5 !important;
}

/* Description */
.link-tooltip .description {
    opacity: 0.5 !important;
    font-size: 12px !important;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    /* margin: 0px 0px 7px !important; */
    line-height: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    width: 100% !important;
    margin: 0 !important;
}

/* Thumbnail */
.link-tooltip .thumbnail {
    all: revert;
    /* width: 100% !important; */
    object-fit: contain !important;
    max-width: 300px !important;
    max-height: 150px !important;
    min-height: 150px !important;
    overflow: hidden !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 1px solid lightgray !important;
}

.link-tooltip .stretched-thumbnail {
    object-fit: cover !important;
}

.link-tooltip .top-thumbnail {
    /* border-bottom: 1px solid lightgray; */
    /* border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important; */
    /* padding-bottom: 2px !important; */
    border-radius: 4px !important;
}

.link-tooltip .bottom-thumbnail {
    /* border-top: 1px solid lightgray; */
    /* border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important; */
    /* margin-top: 2px !important; */
    /* padding-top: 2px !important; */
    vertical-align: bottom !important;
    border-radius: 4px !important;
}

.link-tooltip.thumbnail-on-side {
    display: flex !important;
    max-width: 400px !important;
    min-width: 400px !important;
    flex-direction: row !important;
}

.link-tooltip.thumbnail-on-side .thumbnail {
    border-radius: 4px !important;
    margin-right: 8px !important;
    min-width: 120px !important;
    max-width: 120px !important;
    border: none;
    object-fit: cover !important;
    min-height: unset !important;
    padding: 0 !important;
}

.link-tooltip img {
    filter: none !important;
    opacity: 0 !important;
    transition: opacity 150ms ease !important;
}
.link-tooltip img.opaque{
    opacity: 1 !important;
}

.limited-lines-text {
    overflow: hidden;
    white-space: unset;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
}

.loading-cursor {
    cursor: progress !important;
}

/* Highlight processing link */
.link-tooltip-processing {
    position: relative;
}
.link-tooltip-processing:before {
    content: " ";
    z-index: 98989898989;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(123, 123, 123, 0.25);
    outline: 1px solid rgba(123, 123, 123, 0.5);
    border-radius: 2px;
    pointer-events: none !important;
}

/* Popup arrow */
.tooltip-arrow {
    content: "";
    position: absolute;
    z-index: 99999999999999 !important;
    left: calc(50% - 8px) !important;
    bottom: 50% !important;
    width: 14px !important;
    height: 14px !important;
    transform: rotate(45deg);
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background: inherit !important;
    border-radius: 0px 0px 2px 0 !important;
}

.arrow-on-top {
    top: calc(100% - 6.5px) !important;
}

.arrow-on-bottom {
    bottom: calc(100% - 6.5px) !important;
    transform: rotate(-135deg);
}


/* Dark theme */
@media (prefers-color-scheme: dark) {
    .link-tooltip {
        background-color: #2b2a33 !important;
        color: white !important;
        outline: 1px solid gray;
    }
    
    .link-tooltip .tooltip-arrow {
        background-color: #2b2a33 !important;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
    }
    
    .link-tooltip .top-thumbnail {
        border-bottom: 1px solid gray !important;
    }
    
    .link-tooltip .bottom-thumbnail {
        border-top: 1px solid gray !important;
    }
    
    .link-tooltip .domain {
        color: #54a2dd !important;
    }
    
    .link-tooltip .sub-url {
        color: white !important;
    }

    .link-tooltip .thumbnail {
        border: 1px solid gray !important;
    }
}

.link-tooltip.detached {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3) !important;
}


/* Different tooltip appearances (not used yet) */
/* Gradient */
.link-tooltip.add-gradient {
    background: linear-gradient(145deg, #ffffff, #e6e6e6) !important;
    /* box-shadow:  12px 12px 24px #b0b0b0,
        -12px -12px 24px #ffffff !important;  */
    /* box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3) !important; */
    
}
.link-tooltip.add-gradient .tooltip-arrow{
    background: #efefef !important;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important; */
}
.link-tooltip.add-gradient .tooltip-arrow.arrow-on-bottom{
    background: #f7f7f7 !important;
}
/* Background blur */
.link-tooltip.add-blur {
    background-color: rgba(256,256,256,0.65) !important;
    backdrop-filter: blur(20px) !important;
}
.link-tooltip.add-blur::before {
    background-image: url(./assets/noise_acrylic.png) !important;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.0;
    pointer-events:none;
    content: "";
    transition: none !important;
}